@import '../../variables.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    margin-bottom: 10px;
    background: var(--background);
    background: linear-gradient(0.25turn, #003349, #5a73b2, #8caee4);
}
  
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--background);
}

.logo {
    height: 40px; 
    width: 40px;
    margin-right: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    width: 60px;
    border-radius: 50%;
    background-color: var(--accent);
    margin-left: 10px;
    font-size: 20px;
    border: 2px solid var(--secondary);
}
  